*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
   position: fixed; 
   top: 20px;
   left: 20px;
   
}

nav a{
    color: white;
   text-decoration: none;
   display: inline-block;
}

header{
    background: #DA4453;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #89216B, #DA4453); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: auto;
    padding: 48px;
    width: 100%;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
}

img{
    display: block;
    height: 450px;
    object-fit: cover;
    width: auto;
}