*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
   position: fixed; 
   top: 20px;
   left: 20px;
   
}

nav a{
    color: white;
   text-decoration: none;
   display: inline-block;
}

header{

}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: auto;
}