body{
    background-color: rgb(137, 226, 230);
    text-align: center;
}
.form_user{
    margin-left: 16%;
    margin-right: 16%;
    margin-top: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.form_group_input, .cirugiasanteriores{
    width: 100%;
    background-color: rgb(139, 226, 248);
    border: 3px solid transparent;
    border-radius: 10px;
    transition: .3s ease all;
}
.form_group_input:focus, .cirugiasanteriores:focus{
    border: 3px solid yellow;
    outline: none;
}
.menscolesterol, .menssugar, .cirugiasanteriores{
  display: none;
}

#send{
    padding: 20px;
}
#send2{
    display: none;
    padding: 20px;
}

#sending, #sending2{
    width: 20%;
    border-radius: 10px;
}
#mensazucar, #menscolesterol{
    background-color: #fff;
    margin-right: 30%;
    margin-left: 30%;
    border-radius: 12px;

   
      
   }
   
    .Especifico{
        font-size: small;
    }


