* {
     box-sizing: border-box;
     
}
body {
    margin: 0;
    font-family: sans-serif;
    background-color: rgb(147, 211, 155);
}
.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
     margin-top: 30px;
     padding: 20px;
     position: relative;
}
.formulario_titulo {
    text-align: center;

    color: rgba(0.0.0.0.7);
}
.formulario_input, .formulario_label,
.formulario_submit {
    display: block;
    width: 100%;
    font-size: 1.3em;
}
.formulario_input {
    padding: 20px;
    margin-bottom: 40px;
}
.formulario_input:focus + .formulario_label {
    margin-top: 0px;
}
.Formulario_label {
    padding-left: 15px;
    position: absolute;
    margin-top: -85px;
}
.formulario_submit {
    color: rgb(36, 61, 42);
    padding: 10px 20px;
    cursor: pointer;
    border: none;
}
.fijar {
    margin-top: -135px;