p {
    line-height: 150%;
    font-family: sans-serif;
}


.headingIntro {
    font-size: 60px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    margin-left: 2%;
    color: rgb(227, 229, 240);    
}

.subheadingIntro {
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    margin-left: 2%;
    font-weight: 500;
    color: rgb(227, 229, 240);
}

.heading2{
    font-size: 18px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;   
    margin-left: 2%; 
}

.grid-formulario {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;
    grid-template-rows: 20% 10% 60% 10%;
    background-color: rgb(227, 229, 240);
    padding: 2em;
    font-family: 'Inter', sans-serif;
}

.one{
    grid-column: 1/3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 2em;
    background-color:rgb(6, 19, 78);
}

.two{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 2em;
    background-color: rgb(227, 229, 240);
    font-weight: 500;
}

.three{
    grid-column: 1/2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 4em;
    background-color: rgb(227, 229, 240);
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    margin-top: 0%;
}

.four{
    grid-column: 2/3;
    grid-row-start: 3;
    grid-row-end: 4;
    background-color: rgb(227, 229, 240);   
}





