* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: sans-serif;
}

.titulo {
    align-items: center;
    text-align: center;
    padding-top: 60px;
    font-size: 30px;
    color: #c2362c;
}

.intro {
    padding: 2%;
    align-items: center;
    text-align: center;
}

.cuadricula {
    padding: 20px;
    width: 85%;
    margin: auto;
}

.recetas {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 100%;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 40px;
}

.Img1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    gap: 1em;
    width: 100%;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.Img2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    gap: 1em;
    width: 100%;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.Img3 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    gap: 1em;
    width: 100%;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.rec1, .rec2, .rec3 {
    text-align: center;
    padding: 0.7%;
    color: #9c2e26;
}

.Volver {
    width: 200px;
    text-align: center;
    margin: 15px;
    padding: 10px;
    color:#9c2e26;
    border-color: #9c2e26;
    border-radius: 50px;
    font-size: 1rem;
    transform: translate(280%);
}

#VerRecetas {
    width: 85%;
    font-size: 17px;
    text-align: left;
    margin-left: 7rem;
    padding: 20px;
    background-color: #b354546c;
    text-indent: 5px;
}