html{
    overflow-y: auto;
}

body {
    font-family: 'Segoe UI', sans-serif;
    font-weight: lighter;
    font-size: 20px;
    padding: 4rem;
    background-color: rgb(206, 248, 255);
}


.headerLogo {
    box-sizing: border-box;
    height: 60px;
    display: flex;
    background-color: rgb(45, 145, 233);
    position: sticky;
    color: aliceblue;
}

#logoicon {
    display: flex;
    margin-top: 16%;
    margin-left: 15%;

}

#title {
    display: flex;
    font-size: 20px;
    margin-left: 50%;
    margin-top: -24%;
    padding: 1px;
}

#divweeklyoverall {
    display: flex;
    padding-top: 5vh;
    padding-bottom: 5vh;
    font-weight: 500;
}

#iconRainy {
    margin-left: 2vw;
}


.filterSelectCities {
    border-radius: 1.25rem;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    font-size: medium; 
    color: black;
    box-sizing: border-box;
    width: 15vw;
    height: 4vh;
    box-shadow: -0.25px 0.75px 9px -0.25px rgba(85,85,85,0.36);;
    display: flex;
    align-content: center;
    padding: 4px 1rem;
    margin: 1.5rem;
    margin-left: 70%
}

select {
    border: none;
    outline: none;
    background-color: rgb(255, 255, 255);
}

.filterDays select{
    padding: 0.6rem;
    border-radius: 8px;
}


.Rainy{
    color: rgb(0, 74, 185);
}

.Sunny {
    color: rgb(255, 111, 0);
}

#element {
    padding-top: 2vh;
}

.display_weeklyoverall {
    background-color: rgb(255, 255, 255);
    margin: 2rem;
    padding: 1.5rem 0 0rem 3rem;
    border-radius: 20px;
}

/*overflow