
html {
    box-sizing: border-box;
    align-items: center;
    
}
@media (max-width: 1250px){

}
.inicio {
    display: flex;
    justify-content: center;
    margin: 20px auto;
    display: block;
    padding: 6px;
    width: 700px;
    margin: 10px;
    height: auto;
    display: flex;
}
body {
    background-image: linear-gradient(225deg, #ffb200 0, #ffa014 10%, #ff8c2a 20%, #ff7638 30%, #ff5e41 40%, #f94646 50%, #e12e49 60%, #cb164b 70%, #b7004e 80%, #a60052 90%, #970056 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}
.nav-main2{
    justify-content: center;
    padding: 15px 20px;
    border-radius: 38px;
}
.nav-main{
    justify-content: center;
    font-size: 20px;
    align-items: center;
}
.nav-brand {
    justify-content: center;
    width: 150px;
}

.showcase {
    text-transform: capitalize;
  margin-left: 8px;
  justify-content:center
}
button {
    height: 60px;
    
       text-align: center;

    filter: opacity(.5);
    font-size: large;
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12 px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 30px;
}
.btn:hover {
    filter: opacity(.5)
    
}
.btn {
    padding: 15px 20px;
    background-color: #e7e7e7; color: black;
    border-radius: 38px;
}
select {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 50px;
    width: 70px;
    outline: none;
    background: #ffffff5f;
    color: rgb(111, 110, 110);
    cursor: pointer;
    transition: 0.2s ease-in-out;
	background-repeat: no-repeat, repeat;
	background-position: right .7em top 50%, 0 0;
	background-size: .65em auto, 100%;
}
 
.sunny {
   
    background-color: rgba(70, 176, 121, 0.748);
    color: rgb(230, 255, 167);
}
.rainy {


    background-color: rgba(35, 21, 96, 0.714);
    color: rgb(134, 117, 213);
}

.display_element {
  padding: 2em;
  border-radius: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;
}
.title {
   
    font-size: 18px;
    
    
    
}
.text {
font-size: 18px; 
font-weight: 400;  
    margin: auto;
}