<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Encuentra y disfruta de tus anime favoritos </title>
    <link rel="stylesheet" href="../css/styles.css">
  </head>
  <body>
   <header>
     <h1 class="titular0">Disfruta de tus series anime favoritos</h1> 
   </header>
   <div class="titular1">
     <h2>¿Ques es el anime?</h2>
    <p> Es animación de producción japonesa que desciende mayormente de los mangas, es mundialmente conocido como anime abarca temas para niños, jovenes e incluso animación para adultos.
    </p>
   </div>

   <div class="categoria">
  <h2>Generos</h2>
  </div>

   <section class="generos">
    
    <div>
    <ul>
       <li>Romance</li>
       <li>Acción</li>
       <li>Comedia</li>
       <li>Drama</li>
       <li>Misterio</li>
       <li>Yaoi</li>
       <li>Yuri</li>
       <li>Romance</li>
      </ul>
      <ul>
        <li>Colegial</li>
        <li>Aventura</li>
        <li>Fantasia</li>
        <li>Slice of life</li>
        <li>Isekai</li>
        <li>Shonen</li>
        <li>Mechas</li>
        <li>Harem</li>
       </ul>
      </div>

   </section>

   <div class="razon">
    <h2>¿Porque decidi escoger este tema?</h2>
    <h4>Decidi escoger tratar el tema del anime basicamente porque este tipo de animación ha estado influenciado por el anime principalmente por One Piece uno de mis naimes favoritos, ademas de que me llama la atención el doblaje y empeño que demuestran los actores de doblaje para representar de manera eficiente un peronaje ficticio</h4>
  </div>
<section class="titular2">
   <div class="relacion">
     <h2>Contenido relacionado</h2>
     <h4>En los siguientes videos se te recomendara peliculas y series animes del estudio Kyoto animation para que empieces en el mundo del anime</h4>
   </div>
</section>
   <div class="contenedor-grid">
    <aside class="uno">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/ej7-o4tCEv0?mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </aside>

    <aside class="dos"> 
      <iframe width="560" height="315" src="https://www.youtube.com/embed/FyefcdaS1PQ?mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  
    </aside>

    <aside class="tres">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/HVoPVi9yo1A?mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </aside>

    <aside class=" cuatro">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/sJHNk5ouTE8?mute=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </aside>
   </div>

   <footer>
     <section class="pie-pag">
      <h4>El contenido audio-visual pertenece a kudasai</h4>
   <section><img src="../Recursos/Logo-kudasai-web.png" class="kudasai-web"></section> 
   <section><img src="../Recursos/yt5.png" class="kudasai-yt"></section>
   </section>
     
    </footer>

  </body>
</html>