html {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	color: black;
	background-color: aliceblue;
}

body {
	margin: auto;
}

.header {
	background-color: rgb(244, 179, 48);
	height: 5rem;
	padding: 3rem;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	z-index: 1;
	align-items: center ;
}

.logito {
	width: 4rem;
	height: 4rem;
}

.cuerpocss {
	display: flex;
	justify-content: center;
	align-items: center;
}

.filter2{
	margin: 4rem;
	font-weight: 200;
}

.sunny {
	width: 10rem;
	height: 10rem;
	background-image: url(https://png.pngtree.com/png-vector/20190826/ourlarge/pngtree-clear-sky-in-the-daytime-png-image_1699567.jpg);
	background-color: antiquewhite;
	padding: 4rem;
	margin: 4rem;
}

.rainy {
	color: white;
	width: 10rem;
	height: 10rem;
	background-image: url(https://www.floridasforgottencoast.com/wp-content/uploads/2021/06/raining.jpg);
	background-color: antiquewhite;
	padding: 4rem;
	margin: 4rem;
  
}