@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@0,800;1,400&display=swap');


body{
    margin: 0;
    padding: 0;
    display: grid;
    
}



header{
    
    grid-template-rows: 100px;
    height: 85px;
    background-color: #FC9810;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  
}

li{

    list-style: none;
}

.logo{


top: 25px;
left: 350px;
position: fixed;
height: 30px;
width: 30px;

}

.usuario{
        top: 25px;
        right: 500px;
        position: fixed;
        height: 30px;
        width: 30px;
}

.buscar{
    top: 25px;
    right: 545px;
    position: fixed;
    height: 30px;
    width: 30px;
}

.header_text{

    font-size: 30px;
    font-family: sans-serif;
    margin-top: 23px;
    margin-left: 395px;
    color: white;
}
nav{
    grid-template-rows: 100px;
    text-align: center;
    padding: 5px;
    height: 30px;
    background-color: rgba(191, 100, 9, 0.6);
    backdrop-filter: blur(100px);
    height: 25px;
    position: fixed;
    left:0;
    top: 84px;
    right: 0;

  
}


nav a{
    
    color: white;
    font-size: 15px;
    margin: auto 10px auto 10px;
    padding: 10px;
}

.main{

     margin-top: 104px;

}

.technicalInformation{

    background-color: #EEEEEE;
    height: 50px;
    
    text-align: center;
    font-size: 18px;

}

.technicalInformation p{

    margin: 15px;
    padding: 15px;
}

.section1{
    
    margin-bottom: 10px;
    height: 500px;
    background-color: #E7E7E7;
    padding: 20px;
}

.naruto_text{
    margin-right: 400px;
    margin-top: 150px;
    font-size: 50px;
    font-family: montserrat;
    font-weight: bold;
    float: right;
    position: sticky;
    top: 120px;
    
}

.ver_ahora_naruto li{
    
    margin-top: -280px;
    margin-right: 610px;
    float: right;
    
    list-style: none;
}

.ver_ahora_naruto li a{
    
    
    color: darkblue;
    font-family: montserrat;
    text-decoration: none;

}

.naruto{
     
    height: 500px;
    
    margin-top: 20px;
    margin-left: 300px;
}

.section2{
    color: white;
    margin-bottom: 5px;
    height: 500px;
    background-color: #3E2959;
    padding: 20px;
}

.kimetsu{

    height: 450px;
    
    margin-top: -203px;
 
    margin-left: 850px;
}

.kimetsu_text{

    margin-left: 230px;
    margin-top: 170px;
    font-size: 50px;
    font-family: montserrat;
    font-weight: bold;
    float: left;
    position: sticky;
    top: 120px;

}

.ver_ahora_kimetsu li{
    
    margin-top: -250px;
    margin-left: 430px;
    float: left;
    
    list-style: none;
}

.ver_ahora_kimetsu li a{
    
    
    color: #ECECEC;
    font-family: montserrat;
    text-decoration: none;

}


.aside1{
    
    margin-top: 5px;
    flex: 50%;
    height: 300px;
    width: 150px;
    margin-right: 5px;
    
    background-color: #E7E7E7;
}

.sasuke{

    height: 280px;
    
    margin-top: -113px;
 
    margin-left: 80px;
}

.sasuke_text{
    
    margin-left: 400px;
    margin-top: 70px;
    font-size: 30px;
    font-family: montserrat;
    font-weight: bold;  

}

.aside1 div{

    width: 800px;
}
.aside1 div p{
    position: relative;
    margin-left: 400px;
    margin-top: -180px;
    font-size: 20px;
    font-family: lato;
  

}

 .aside2{
    
    margin-top: 5px;
    flex: 50%;
    background-color: #E8DCFF;
    margin-left: 5px;

 }

 .ktrailer_text{
    
    margin-left: 50px;
    margin-top: 65px;
    font-size: 30px;
    font-family: montserrat;
    font-weight: bold;  
 }

 .aside2 li a{
    position: relative;
    margin-left: 125px;
    top: -150px;
    font-size: 15px;
    color: darkblue;
    font-family: montserrat;
      

}

 .aside2 div iframe{
    margin-top: -100px;
    margin-left: 40%;
    height: 240px;
    width: auto;

 }

 .aside3{
    
    margin-top: 10px;
    flex: 50%;
    height: 300px;
    width: 150px;
    margin-right: 5px;
    
    background-color: #E8DCFF;
}

.aside3 video{

    margin-top: -120px;
    margin-left: 70px;
    height: 240px;
    width: auto;
     

}

.aside3 h1{

    margin-left: 600px;
    margin-top: 70px;
    font-size: 30px;
    font-family: montserrat;
    font-weight: bold;   

}


.aside3 li a{
    
    margin-left: 665px;
    margin-top: 30px;
    font-size: 15px;
    color: darkblue;
    font-family: montserrat;
      

}

 .aside4{

    margin-top: 10px;
    flex: 50%;
    background-color: #E7E7E7;
    margin-left: 5px;

 }

 .aside4 h1{

    margin-left: 100px;
    margin-top: 70px;
    font-size: 30px;
    font-family: montserrat;
    font-weight: bold;   

 }

 .aside4 div{
    width: 600px;
 }

 .aside4 div p{
    position: relative;
    margin-left: 100px;
    margin-top: 25px;
    font-size: 20px;
    font-family: lato;
  

}

.row{
    
    display: flex;
}

footer{
    
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    color: white;
    background-color: #BF6409;
     
}