* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    background-image: linear-gradient(to right, plum , #99cccc);
}

.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    position: relative;
    background-color: whitesmoke;
    border-radius: 15px;
}

.formulario__titulo {
    text-align: center;
    margin-top: 0;
    margin-bottom: 30px;
    color: black;
}

.formulario__input,
.formulario__label,
.formulario__select,
.formulario__submit {
    display: block;
    width: 100%;
}

.formulario__input {
    padding: 20px;
    background: transparent;
    border: 1px solid plum;
    margin-bottom: 30px;
    border-radius: 7px;
}

.formulario__input:focus {
    outline: 1px solid darkorchid;
}

.formulario__label {
    font-size:medium;
    padding-left: 0px;
    position: relative;
    margin-top: -20px;
    transition: all 0.2s;
}

.formulario__select {
    padding-left: 15px;
    position: absolute;
    margin-top: -66px;
    transition: all 0.2s;
    font-size: 11px; 
}

.formulario__submit {
    font-family:'Nunito', sans-serif;
    padding: 10px 20px;
    color: whitesmoke;
    background-color: darkorchid;
    cursor: pointer;
    border: none;
    margin-top: 15px;
    border-radius: 7px;
}