body {
    font-family: 'Montserrat', sans-serif;
}
.weather-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    max-width: 501px;
    text-align: center;
    padding: 20px 20px 50px;
    margin: 10% auto 0;
    background-color: #46694b;
    border-radius: 9px;
}
.weather-content h1{
    font-size: 34px;
    margin-bottom: 10px;
    color: #FFF;
}