*{
margin:0;
padding: 0;
box-sizing: border-box;

}

body{
    font-family: 'open sans';
    background-color: rgba(189, 182, 182, 0.658)
    ;
}



.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 10000px;
    margin:auto;
    overflow: hidden;
    
}
.textos-header {
    display:flex; align-items: center;
    justify-content: center;
}
footer {background-color:rgb(250, 193, 193);
color: black
;}
.textos-header{
background-color: rgb(217, 244, 245);
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
;
font-weight: bolder;



}
.contenedor{
    background-color: rgb(153, 164, 168);

}

img{
    margin-left: 45px;
}