*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    body{
        background: #e5d1e0;


        .contenedor1{
            background:#6c4675;
            font-family: 'Poppins', sans-serif;
            margin: 0 auto;
            
        }
        
    
    }


   
    
}