@import 'reset/variables' , 'reset/mixins' , 'reset/reset' ,'reset/keyframes';

.arcordeon{
    width: 90%;
    max-width: 120em;
    background-color: lightskyblue;
    padding: 2em;
}
.arcordeon.bloque{
    background-color: red;
    margin: 0 0 1em;
    padding: 1em;
}
.arcordeon .h2{
    background-color: lime;
    margin: 0 0 1em;
}
.arcordeon .contenido{
    background-color: pink;
}