html {
    font-size: 10px;
    font-family: 'Space Mono', monospace;
    background-color: var(--light-pink);
}
* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}