/* helper classes */
.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* regular css */
header {
    position: fixed;
    height: 50px;
    width: 100vw;
    padding: 1rem 1.5rem;
    align-items: center;
    border-bottom: 1px solid var(--dark-blue);
    background-color: var(--light-pink);
}
li {
    margin: 0 2rem;
    font-size: 1.3rem;
    list-style-type: none;
}
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
nav {
    display: none;
}
.logo {
    font-size: 1.3rem;
    font-weight: bold;
}
.menu {
    display: inline-block;
}
.container {
    width: 100vw;
    height: 100vh;
    padding: 5rem 1.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: var(--container-max-width);
}
.container__numbers {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.numbers__section {
    width: 250px;
    padding: 3rem;
    margin: 2rem 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-blue);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.section__button {
    border: 1px solid ;
    margin-top: 5rem;
    width: 100px;
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--dark-blue);
    box-shadow: 0 4px 8px 0 rgba(0,1,1,0.2);
    transition: 0.3s;
}
.section__button:hover {
    width: 110px;
    background-color: var(--dark-pink);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

@media (min-width: 1200px) {
    .menu {
        display: none;
    }
    .container {
        justify-content: space-around;
    }
    .container__numbers {
        flex-direction: row;
    	align-items: stretch;
    }
}

