*{
margin:0;
padding: 0;
box-sizing: border-box;

}

body{
    font-family: 'open sans';
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 10000px;
    margin:auto;
    overflow: hidden;
    
}
.textos-header {
    display:flex; align-items: center;
    justify-content: center;
}
footer {background-color:lightgoldenrodyellow;
color: black
;}
.textos-header{
background-color: gainsboro;
}
image {align-items: center;
}