* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     font-size: 62.5%;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 15px;
}
.calculator {
    display: flex;
    flex-direction: column;
    width: 500px;
    font-size: 2rem;
    border: 1px solid plum;
}

.calculator-display {
    padding: 25px 15px;
    width: 100%;
    text-align: right;
    border: 1px solid plum;
}

.calculator-keypad {
    display: flex;
    width: 100%;
}

.keypad-numbers {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.keypad-button {
    width: 25%;
    padding: 15px 0;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border: 1px solid plum;
}
.keypad-button:hover {
    filter: brightness(80%);
    transition: filter .25s;

}
.keypad-button.purple {
     background-color:blueviolet ;
}

.keypad-button.large {
    width: 50%;
}

.keypad-button.dark {
    background-color: lightgrey;
}