* {
    font-family: Arial, Helvetica, sans-serif;
}

h3{
    text-align: center;
}

header {
    min-height: 5vh;
    background-color: #3f3f3f; 
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 0;
    color: rgb(223, 215, 215);
}

.recetas {
    display: grid;
    width: 100%;
    grid-template-columns: 30% 30% 30%;
    margin-left: 70px;
    margin-top: 30px;
    position: relative;
  }

  img {
    display: block;
    width: 95%;
  }

  .recetas:hover {
      background-color: rgba(0, 0, 0, 0.459);
  }

  p {
      text-align: center;
      margin-top: 30px;
      padding: 10px;
  }

  .description{
      margin-top: -250px;
      margin-left: none;
      padding: 20px;
  }

  button {
    display: inline-block;
    width:50%;
    height: 40px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    color: gray;
    border: 3px solid gray;
    margin-left: 80px;
  }