header {
    padding: 1.6rem 1.5rem;
    height: 60px;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
    align-items: center;
    font-size: 1.9rem;

    color: #fff;
    text-shadow:
        0 0 7px #fff,
        0 0 10px #fff,
        0 0 21px #fff,
        0 0 42px #0fa,
        0 0 82px #0fa,
        0 0 92px #0fa,
        0 0 102px #0fa,
        0 0 151px #0fa;
}
.logo {
    font-family: 'Noto Sans JP', sans-serif;
}
.navigation-toggle {
    font-family: 'Noto Sans JP', sans-serif;
    cursor: pointer;
}
.nav {
    opacity: 0;
    display: flex;
    flex-direction: column;
}
.nav_item {
    color: black;
    padding: 1.5rem;
    text-decoration: none;
    list-style: none;
    text-align: center;
    font-size: 3.5rem;
    opacity: 1;
    cursor: pointer;
}
.nav_item:hover {
    text-decoration: underline;
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;

    background-image: url('../assets/ksp.jpg');
}
span {
    height: 100%;
}