.container {
    display: flex;
    flex: 1;
}
header {
    padding: 1.6rem 1.5rem;
    display: flex;
    flex-direction: row;
    font-family: 'Roboto', sans-serif;
    justify-content: space-between;
}
.logo {
    font-size: 1.7rem;
}
.navigation-toggle {
    display: flex;

    font-size: 1.7rem;
}
.nav {
    display: flex;
    flex-direction: row;
    display: none;
}
.nav_item {
    padding: 0 1.5rem;
    text-decoration: none;
    list-style: none;
}