html{
    color: #7a8797;
    border-radius: 15px;
}

body{
    padding: 0px;
    margin: 0px;
    color: rgb(102, 113, 163);
    background-color: #627c97;
}

h3{
    padding: 0xp;
    margin: 0px;
}

#header{
    background-color: rgb(75, 101, 180);
    padding: 12px;
    color: white;
    font-size: x-large;
}

#content{
    display: grid;
    grid-template-columns: 50% auto;
    text-align: center;
    background-color: #dcdfe2;
    padding: 32px;
    gap: 32px;
}

#dates_cases, #dates_mensaje, #dates_pacientes{
    background-color: #b9b5b5;
}

#filtro_select{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 12px;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(28, 46, 102);
}
h3{
    background-color: rgb(28, 52, 121);
    color: rgb(190, 186, 186);
    padding: 0px;
    margin: 0px;
}

p{
    margin: 0px;
    padding: 4px;
}

#dates_send{
    margin: 12px;
}


#formulario{

    background-color: #b4b3b3;

    border-radius: 10px;

    padding-top: 10px;
}

#dates_pacientes{


    border-radius: 5px;
}

#dates_mensaje{


    border-radius: 5px;
}

h3{

border-radius:  3px;

}