body{
    padding: 0px;
    margin: 0px;
    background-color: #C8D6E8;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
a{
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: large;
}
input, textarea, button{
    border: none;
    border-radius: 12px;
    margin: 6px;
    padding: 12px;
}
h1{
    color: white;
}
h3{
    padding: 10px;
    margin: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
}
#Sect_menu{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #3165A8;
    width: 100%;
    position: sticky;
    top: 0px;
}
#sect_info_about_us, #sect_info_ourwork{
    text-align: center; 
}
#info_about_us{
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 20px;
}
#firts_Column{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px;
}
#second_Column{
    display: flex;
    justify-content: center;
    align-self: center;
}
#card_structure_title{
    background-color: chocolate;
}
#container_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr;
}
#title{
    background-color:burlywood;
}
#content{
    background-color:chartreuse
}
#imgs{
    background-color:blue;
}
#container_video{
    justify-content: center;    
}
#Section_form{
    display: grid;
    grid-template-columns: 60% auto;
    text-align: center;
    margin: 10px 32px;
}
#dates_form{
    display: flex;
    flex-direction: column;
} 
#footer{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #3165A8;
    padding: 16px;
    text-align: center;
}
#dates_form2{
    display: flex;
    flex-direction: column;
}