body{
    padding: 0px;
    margin: 0px;
    background-color: #C8D6E8;
    font-family: Georgia, 'Times New Roman', Times, serif
}
a{
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: white;
    font-size: large;
}
input, textarea, button{
    border: none;
    border-radius: 12px;
    margin: 6px;
    padding: 12px;
}
h1{
    color: white;
}
h3{
    padding: 18px;
    margin: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #2d5b97;
    color: white;
}
#Sect_menu{
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #3165A8;
    width: 100%;
    position: sticky;
    top: 0px;
}
#sect_info_about_us, #sect_info_ourwork{
    text-align: center;
    margin: 32px 0px;
}
#info_about_us{
    padding: 32px 20px;
    background-color: #5e94da;
    margin: 0px 12%;
    color: white;
}
#firts_Column{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 24px;
}
#second_Column{
    display: flex;
    justify-content: center;
    align-self: center;
}
#card_structure_title{
    background-color: chocolate;
}
#container_cards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20% 1fr;
}
#title{
    align-content: center;
    background-color:#3165A8;
}
#content{
    background-color:chartreuse
}
#imgs{
    background-color:blue;
}
#container_video{
    justify-content: center;
}
#Section_form{
    display: grid;
    grid-template-columns: 60% 40%;
    text-align: center;
    background-color: #5e94da;
}
#dates_form{
    display: flex;
    flex-direction: column;
    padding: 18px
} 
#footer{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #3165A8;
    padding: 16px;
    text-align: center;
}
#dates_form2{
    display: flex;
    flex-direction: column;
    padding: 18px;
}
#dates_form2 img{
    align-self: center;
}
#title_about_us, #title_our_work{
    margin: 0px 12%;
}
#foot_Column2{
    align-self: center;
    text-align: left;
}
#foot_Column{
    text-align: right;
}
#mensaje{
    resize: none;
}
.paddin_content1{
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 2%;
    margin-top: 0px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}