* {
    box-sizing: border-box;
    border-radius: 10px;
}

body {
    margin: 0;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.formulario_titulo {
    text-align: center;
    margin-top: center;
    color: rgb(223, 215, 215);
}

header {
    min-height: 5vh;
    background-color: #3f3f3f; 
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius: 0;
}

p {
    text-align: center;
    margin-top: 15px;
    color: rgb(85, 85, 85);
    font-size: 1.2rem;
}

.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(155, 155, 155, 0.5);
    position: relative;
}

.datos {
    display: grid;
    grid-template-columns: repeat(2,50%);
}
.datos_hijo {
    display: grid;
    grid-template-columns: 100%;
    padding: 10px;
    
}

.preguntas {
    margin: 20px;
    text-align: left;
}

.formulario_input, .formulario_select {
    margin-bottom: 5px;
    color: rgb(43, 42, 42);
    padding: 5px;
    border-color: orange;
}

.formulario_input, .dropbox {
    border: 1px solid orange;
    padding: 5px;
}

.formulario_label {
    padding-left: 10px;
    color: rgb(83, 83, 83);
    margin-bottom: 3px;
    font-weight: bold;
}

.Botones {
    margin-left: 2%;
    margin-top: 20px;
}

.guessSubmit {
    
    display: inline-block;
    margin-left: 10px;
    width: 45%;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: orange;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;

}

#pColesterol, #pAzucar {
    display: none;
}