* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.formulario {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 30px;
    padding: 20px;
    box-shadow: 0 0 20px 1px rgba(155, 155, 155, 0.5);
    position: relative;
}

.datos {
    display: grid;
    grid-template-columns: repeat(2,50%);
}

.formulario_titulo {
    text-align: center;
    margin-top: 0;
    color: rgb(105, 105, 105);
}

.formulario_input, .formulario_select {
    margin-bottom: 40px;
}

.formulario_input {
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.formulario_label {
    padding-left: 10px;
}