@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

body {
    font-family: 'Space Mono', monospace;
}
.container {
    width: 50vw;
    margin: 0 auto;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
}
p {
    margin: 0;
}
.display_element {
    padding: 1rem 1.5rem;
    margin: 1rem 0;
    border: 1px solid black;
    transition: background-image 0.2s ease-in-out;
}
.loading {
    width: 100vw;
    height: 100vh;
    background-color: antiquewhite;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
.toolbar {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 1rem 0;
}
#display {
    height: 60vh;
    overflow-y: auto;
}
::-webkit-scrollbar {
    width: 20px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}