@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root {
    --color-sunny-background: #ffc300;
    --color-rainy-background: #407BA7;
    --color-rainy: #00043A;
    --color-sunny: #800016;
    

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);

}


html {
    font-size: 14px;
    margin: 5px;
    box-sizing: border-box;
    height: 100%;

}

body {
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-white);
    user-select: none;
    overflow-x: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

header { margin-top: -3rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: -2.5rem;
}
#rainy_icon {
    margin: 1rem;
    font-size: 5rem;
    margin-top: 3rem;
    color: var(--color-rainy-background);
}

div {
    display: flex;
    flex-direction: row;
}

.changes {
    padding-left: 2rem;
    margin: auto;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin: 1rem;
    padding: 0.7rem;
    position: relative;
    box-shadow: var(--box-shadow);
    flex-grow: 1;
}

.Sun p, .Rain p {
    padding-right: 2rem;
    font-size: 1.2rem;
}

.Sun {
    background-color: var(--color-sunny-background);
}

.Rain {
    background-color: var(--color-rainy-background);
}
h2 { 
    font-size: 3.5rem;
    color: rgb(49, 47, 47);
}

select, input {
    font-size: 15px;
    margin-right: 1rem;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 15vw;
    height: 4vh;
    border-radius: 1rem;
    margin: 3px;
}
label {
    font-size: 15px;
    padding-left: 0.5rem;

}
.sunny {
    background-color: var(--color-heat2);
}

.week {
    font-size: 5rem;
    font-weight:600;
    position: fixed;
    bottom: 0;
    color: var(--color-sunny);

}
@media only screen and (max-width:500px) {
    header {
        width: 500px;
        align-items: center;
    }
    select {
        margin-right: 0rem;
        margin-left: 3.5rem;
        padding: auto;  
    }
    div {
        display: contents;
        width: 400px;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }
    b {
        margin-right: 100px;
    }
    }


