@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
*{
    background-color: rgba(135, 207, 235, 0.616);
}
body{
    font-family: 'Montserrat', sans-serif;
}
.weather-content {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    max-width: 501px;
    text-align: center;
    padding: 20px 20px 50px;
    margin: 10% auto 0;
 
    border-radius: 9px;
}
.weather-content h1{
    font-size: 34px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}
.weather-content p{
    color: #fff;
}
.result{
    margin-bottom: 8%;
}
.result p{
    margin: 5px 0 5px;
}
.result h2{
    font-size: 30px;
    line-height: 70px;
    margin: -10px 0 10px;
    color: #fff;
}
.result h5{
    font-size: 21px;
    margin: 2px;
    color: #fff;
}
form {
    display: flex;
    flex-direction: column;
}
form input[type="text"], form input[type="submit"], form select{
    width: 100%;
    margin: 0px 0 25px;
    display: inline-block;
    border: 1px solid white;
    box-shadow: inset 0 1px 3px white;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: 'Montserrat', sans-serif;
}
form input[type="submit"]{
    width: 100%;
    margin: 0 auto;
    cursor: pointer;
    background-color: #14d4a5;
    border: 1px solid #14d4a5;
    color: #fff;
    font-weight: 600;
    transition: width 1s;
}
form input[type="submit"]:hover{
    width: 50%;
}
@media (max-width: 790px) {
    nav .nav-bar .sidebarOpen{
        display: block;
    }
}