<<<<<<< HEAD
html {
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: auto;
    display: flex;
}

.menu{
    width: 15%;
    height: 100vh;
    background-color: rgb(62, 148, 240);
    margin: 0;
    padding: 2vh 4vh;
    font-size: x-large;
    color: aliceblue;
    box-sizing: border-box;
    z-index: 1;
}
.opcionesMenu {list-style:none;}

.Inicio {
    width: 40%; display: flex; flex-direction: column;
=======
html {
    font-family: 'Segoe UI', sans-serif;
}

body {
    margin: auto;
    display: flex;
}

.menu{
    width: 15%;
    height: 100vh;
    background-color: rgb(62, 148, 240);
    margin: 0;
    padding: 2vh 4vh;
    font-size: x-large;
    color: aliceblue;
    box-sizing: border-box;
    z-index: 1;
}
.opcionesMenu {list-style:none;}

.Inicio {
    width: 40%; display: flex; flex-direction: column;
>>>>>>> cead1eb5dabc19ae5e4373eb1e442073ce6bef34
}