
*{
    border: 1px solid red;
}


.recipes_header{
    padding: 1em;
    margin: 1em;
    color: aqua;
    background-color: black;
}


.recipes{
    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    
}

.recipe_images{

    padding: 1em;
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.recipe_image1{

    border-radius: 10px;
    max-width: 20em;
    height: 20em;
}

.recipe_image2{

    border-radius: 10px;
    max-width: 20em;
    height: 20em;
}
.recipe_image3{

    border-radius: 10px;
    max-width: 20em;
    height: 20em;
    
}

.recipes_data{

    padding: 2em;
    display: flex;
    flex-direction: row;
    gap: 20em;
    row-gap: 20em;

}

.recipe_1 {

    display: flex;
    flex-direction: row;
}

.recipe_2 {

    display: flex;
    flex-direction: row;
}

.recipe_3 {

    display: flex;
    flex-direction: row;
}