* {
    box-sizing: border-box;
}
.container {
    width: 50vw;
    color: blue;
    height: 250vh;
    border: 1px solid red;
    padding: 20px;
}
.child {
    border: 1px solid blueviolet;
    width: 25vw;
    height: 25vh;
}
.static {
    margin: 2rem;
    position: static;
}
.absolute {
    position: absolute;
    top: 45vh;
    left: 40px;
    background-color: rgba(78, 182, 182, 0.192);
}
.fixed {
    position: fixed;
    top: 150px;
    left: 10vw;
    transition: background-color 1s ease-in;
    background-color: rgba(119, 60, 60, 0.281);
}
.fixed:hover {
    background-color: yellow;
}
.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
}
.sticky::first-letter {
    color: gold;
    font-size: 2rem;
}
.relative {
    position: relative;
    top: 30px;
    border: 1px solid darkorange;
}