html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aliceblue;
}

body {
    font-family: 'open sans';
    margin: auto;
}

/* navegador */
nav{
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: flex-start;
}

nav > a{
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.icono{
    display: block;
    z-index: 100000000;
    animation: moverIzquierda 1s ease-in;
}

/* Header */

header {
    width: 100%;
    height: auto;
    padding: 48px;
    background: #0081fa;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5d70c5,#0081fa);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5d70c5,#0081fa);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-around;
    margin: auto;
}

.textos-header{
    width: 60%;
    color: #fff;
    text-align: center;
}

.textos-header h1{
    text-align: center;
    font-size: 25px;
    color:#fff;
    animation: moverDerecha 1s ease-in;
}

.textos-header h2{
    text-align: center;
    font-size: 30px;
    color:#fff;
    animation: moverIzquierda 1s ease-in;
}

.textos-header a{
    display: inline-block;
    color: #fff;
    font-weight: 50;
    font-size: 15px;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150%;
    border-radius: 2px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in; 
}

.wave{
    height: 100px;
    width: 100%;
    background: #0081fa;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5d70c5,#0081fa);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5d70c5,#0081fa);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.enlaces{
    position: fixed;
    display: flex;
    top: 0;
    background: #ffffff;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #0081fa;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #5d70c5,#0081fa);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #5d70c5,#0081fa);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.uno{
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);
}

.dos{
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
}


/* keyframes */

@keyframes moverIzquierda{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moverDerecha{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes arriba{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}
/* Inicio */

.Inicio{
    padding: 20px; 
    box-sizing: 
    border-box; 
    display: block;
}

.Bienvenido{
    background-color: #0081fa;
    color: white;
    padding: 6px 16px;
    margin: 30px auto 25px auto;
    border-radius: 20px;
    width: 95%;
}

/* Galeria */

.portafolio{
    background: #f2f2f2;
    text-align: center;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: #0081fa71;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* Pacientes */

.Pacientes{
    padding: 2vh 5vh; 
    box-sizing: border-box; 
    display: none; 
}

/* Flitro */

.FiltroPacientes{
    display: flex;
}

.barraOpciones {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    margin: 150px 0;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    width: 200px;
}

.SearchIcon{color: black;}

select{
    border: none;
    border-radius: 3px;
    overflow: hidden;
    position: relative;
    border: none;
    outline: none;
}

.filtro:focus{
    -webkit-appearance: none; 
    outline: none;
}

/* Ingreso Paciente */

.IngresoPaciente{
    display: flex;
    background-color: royalblue;
    color: white;
    padding: 5px 0 15px 10px;
    margin: 15px;
    border-radius: 20px;
    width: 100px;
    height: 15px;
}

.IngresoPaciente:hover{
    background-color: rgba(65, 105, 225, 0.7);
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.4s;
}

.ConfButtom:hover{
    background-color: rgba(65, 105, 225, 0.7);
    cursor: pointer;
    transform: scale(1.05);
    transition-duration: 0.4s;
}

/* Resultados */
#displayPacientes{
    height: 250px; 
    width: 100%; 
    overflow-y: auto;
}

/* Mensajes */

.Mensajes{
    padding: 10px 25px; 
    box-sizing: border-box; 
    display: none;
}

.ConfButton{
    display: flex;
    background-color: royalblue;
    color: white;
    padding: 10px 0 15px 10px;
    border-radius: 20px;
    width: 150px;
    height: 20px;
}

/* Redactar mensaje */

.MensajeConf{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    z-index: 3;
}

.ModalMensaje{
    position: relative;
    background-color: white;
    border-radius: 20px;
    padding: 5vh;
    width: 60vw;
    height: 60vh;
    border-top: solid 10px royalblue;
    transition: transform 0.8s;
    transform: translateY(0%);
    overflow: hidden;
    z-index: 4;
}

.MensajeCerrar{
    transform: translateY(-200%);
}

.Cerrar{
    position: absolute; 
    top: 10px; 
    right: 15px;}

    input{
        width: 90%; 
        color: rgb(114, 202, 253); 
        border: none;}

    input:focus, textarea:focus{
        outline: none;}


    textarea{
        resize: none;
        min-width: 95%;
        min-height: 60%;
        border: none;
        margin: 0 0 3vh 0;
    }

    button{
        border: none;
        padding: 10px;
        margin: 0 15px 0 0;
        width: 70px;
        border-radius: 15px;
    }

    button:hover, .Cerrar:hover, .Cards:hover{
        cursor: pointer;
        transform: scale(1.05);
        transition-duration: 0.4s;
    }

    #Enviar{background-color: royalblue; color: white;}

    .swal-modal {
        border-radius: 20px;
    }

    .swal-button {
        border-radius: 15px;
        background-color: royalblue;
        margin: 5px 12vw;
    }

    #displayMensajes{
        height: 250px; 
        width: 100%; 
        overflow-y: auto
    }

    /*scrollbar*/

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
        background-color: #0062be; 
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
        background-color: #003a70
    }

 /* footer */

footer{
    background: #0081fa;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #2241ca;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #2241ca;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: #ffffff;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #ffffff
}

/* media screen */

@media screen and (max-width:800px) {
    .textos-header h1{
        font-size: 70px;
    }

    .textos-header h2{
        font-size: 25px;
    }   
}

@media screen and (max-width:700px) {
    .textos-header h1{
        font-size: 40px;
    }

    .textos-header h2{
        font-size: 15px;
    }   
}

@media screen and (max-width:450px) {
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .textos-header{
        width: 100%;
        text-align: center;
    }
    .textos-header h1{
        font-size: 60px;
    }
}

@media screen and (max-width:340px) {
    .textos-header h1{
        font-size: 35px;
    }
    .textos-header a{
        width: 120px;
    }
    .textos-header h2{
        font-size: 15px;
    }
}