*{
    border: 1px solid red;
    margin: 0;
    padding: 0;
}

.landing-header{
    background-color: #10154C;
    grid-template-columns: [first-line] 100% ;
    grid-template-rows: 2em ;
    padding: 10px 10px 10px 10px;
}

 
.landing-data{
    display: grid;
    grid-template-columns: 50% 50%;
    
}

 .landing-banner{
    padding-left: 30%;
    padding-top: 1em;
 }

 .landing-text2{
width: 50%;

 }

 .landing-video{
     align-content: right;
 }