* { border: 1px solid red;
    
}



.header-style{
    padding:0;
    margin:0;
}

.data{
    background-color: white;
}

.userdata{
    background-color: white;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1em;
}


.error{
    color: red;
}

.boxStyle{
    background-color: white;
    width: 10em;
    
}