* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif;
    background: #111;
}

h1,
h3 {
    font-weight: 700;
}

.weatherApp {
    min-height: 100vh;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
}

.weatherApp::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
    z-index: 0;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}

.container>div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cityandoverall,
.displayO,
.displayC {
    margin: 0 1em;
}

.displayO {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 2em;
}

.displayC {
    font-size: 6em;
    margin: 0;
}

.panel {
    position: absolute;
    width: 40%;
    height: 100%;
    top: 0;
    right: 0;
    background: rgba(124, 124, 124, 0.25);
    box-shadow: 0 8px 32px 0 rgba(48, 48, 48, 0.3);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(73, 73, 73, 0.18);
    z-index: 1;
    padding: 3em 2em;
    overflow-y: scroll;
}

.panel::-webkit-scrollbar {
    width: 12px;
}

.element {
    margin-bottom: 3em;
}

.search {
    background: none;
    border: none;
    border-bottom: 1px #ccc solid;
    padding: 0 1em 0.5em 0;
    color: white;
    width: 80%;
    font-size: 1.1em;
}

.search::placeholder {
    color: white;
}

.search:focus {
    outline: none;
}

.searchButton {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1.5em;
    margin: 0;
    cursor: pointer;
    color: white;
    transition: 0.4s;
}

.displayElement {
    padding: 1em;
    margin: 2em;
    border-radius: 10px;
}

.sunny {
    background: url(img/b.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #111;
}

.rainy {
    background: url(img/c.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.selectC {
    background: none;
    padding: 0 1em 0.5em 0;
    border: none;
    border-radius: 10px;
    padding-top: 1em;
    color: white;
    width: 20%;
    font-size: 1em;
}

.selectD {
    background: none;
    padding: 0 1em 0.5em 0;
    border: none;
    border-radius: 10px;
    padding-top: 1em;
    color: white;
    width: 20%;
    font-size: 1em;
}

.selectD:focus {
    outline: none;
}

.selectC:focus {
    outline: none;
}

select > option {
    color: black;
}

@media screen and (max-width: 800px) {
   .panel, .container {
       position: relative;
       width: 100%;
       top: initial;
   } 
}

@media screen and (max-width: 500px) {
    html {
        font-size: 12px;
    } 
}

@media screen and (max-width: 300px) {
    .weatherApp {
        min-height: 40em;
    } 
}