.title{
    margin: 5vh 2vw 0 auto;
    padding-top: 2vh;
    text-align: center;
    color: rgb(32, 0, 51);
    font-size: 6vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table thead {
    background:#a1d4e0;
    font-size: 1rem;
    color:rgb(20, 20, 20);
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 70vw;
    height: 80vh;
    margin: 5vh 15vw;
    padding: 5vh;
    background: rgb(5, 54, 77); 
    border-radius: 1vh;
    align-items: center;
}

table {
    width: 100%;
}

th {
    padding: 2vh;
}

.data_element {
    padding: 0.5rem;
    margin: 1rem 0;
    color: white;
}

#data {
    margin: auto;
    height: 100vh;
    width: 100vh;
    overflow-y: auto;
}