:root {
    --pink: rgb(255, 139, 176);
    --yellow: rgb(255, 171, 65);
    --blue: rgb(0, 167, 199);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}
.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
}
.header__botones {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    z-index: 10000;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
}
.svg {
    width: 100px;
    color: var(--yellow);
}
.svg:hover {
    color: white;
    transform: rotate(5deg);
}
.header__intro {
    height: 150px;
    overflow: hidden;
    background-color: var(--blue);
    border-bottom: 5px solid black;
}
.header__intro::after {
    content: '';
    width: 100vw;
    height: 100vh;
    transform: rotate(45deg);
    background-color: red;
}
.header__logo {
    width: 200px;
    padding: 1rem 0;
    margin: 0 auto;
}
.header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--pink);
    padding-bottom: 1rem;
    border-bottom: 5px solid black;
}
#home {
    height: 300vh;
    width: 100vw;
}
.info {
    height: 100px;
    background-color: red;
    border-bottom: 5px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
}
.img-carousel {
    background-color: var(--pink);
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}
.img-carousel > img{
    width: 290px;
    height: 290px;
    padding: 1rem;
}
iframe {
    width: 100vw;
    height: calc(100vh - 200px);
}