@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Montserrat:ital,wght@0,100;0,300;0,800;1,400;1,600&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    margin-left: 80px;
    transition: margin-left 300ms;
    background-color: rgb(243, 243, 243);
}



header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 100;
}

.menu_icon{
    width: 50px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(10px);
}

.menu_icon > i{
    font-size: 20px;
    cursor: pointer;
    position: absolute;
}

.menu_side{
    width: 80px;
    height: 100%;
    background-color: #5B86E1;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    font-size: 18px;
    z-index: 150;
    overflow: hidden;
    border-right: 20px solid #5B86E1;
    transition: all 300ms;
}

.message_icon{
    width: 90%;
    padding-left: 85%;
    font-size: 25px;

}

.message_icon > i{
    margin-left: 20px;
}

.fa-regular{
    cursor: pointer;
}

.fa-regular:hover{
    color: #5B86E1;
}

.name_page{
    font-family: Montserrat;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.name_page > i{
    margin-right: 20px;
    width: 20px;
}


.menu{
    padding: 20px 30px;
    position: absolute;
    top: 80px;
}

.menu > a{
    text-decoration: none;
    color: rgba(218, 218, 218, 0.829);
    cursor: default;
    display: block;
    position: relative;
}

.menu > a:hover{
    color: white;
    transition: 300ms;
}

.menu .option__menu{
    padding: 20px 0px;
    display: flex;
    align-items: center;
    position: relative;
}

.menu .option__menu i{
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.menu .option__menu h3{
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}

a.selected{
    color: #fff;
    
}

.selected:before{
    content: '';
    width: 3px;
    height: 80%;
    background: white;
    position: absolute;
    top: 10%;
    left: -30px;
}

.menu__animation{
    margin-left: 250px;
}

.menu_side_animation{
    width: 250px;
}

.icon_animation{
    display: flex;
    flex-direction: row;
}

.icon_move{
    padding-right: 190px;
}

.Bienvenida{
    color: #5B86E1;
    font-family: Montserrat;
    margin-left: 75px;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.saludo{
    margin-right: 8px;
    font-weight: 400;
    color: black;
}

.mensaje_binvenida{
    margin-left: 75px;
    margin-top: 5px;
}

.mensaje_binvenida > h3{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
}

.container{
    margin-top: 70px;
    margin-left: 50px;
    margin-right: 50px;

}
.filter > h3{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 17px;
    margin-left: 50px;
    margin-bottom: 5px;
}

.display{
    background-color: #fff;
    padding: 50px;
    height: 300px;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    border: 1px solid #3d3d3d1c;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #3d3d3d18;
}

.display_element{
    font-family: Montserrat;
    padding-left: 25px;
    padding-top: 10px;
    width: 350px;
    height: 200px;
    margin-right: 80px;
    border-left: 1px solid #5b85e185;
}



.filter_by{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 20px;
    margin-left: 50px;
    color: #5B86E1;
}

.filter_choose{
    margin-left: 5px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 15px;
    border: 1px solid rgba(104, 104, 104, 0.199);
    background-color: transparent;
}

.display_elementM{
    padding: 40px;
    background-color: #fff;
    width: 95%;
    height: 200px;
    margin-top: 50px;
    font-family: Montserrat;
    border: 1px solid #3d3d3d1c;
    border-radius: 30px;
    border-top: 5px solid #5B86E1;
    box-shadow: 5px 5px 5px #3d3d3d18;
}

.display_elementM > p{
    height: 50px;
    padding-left: 15px;
    border-left: 1px solid #5b85e185;
    font-weight: 400;
}

.scrollbar{
    width: 80%;
    height: 600px;
    overflow: auto;
    margin-top: 30px;
}

.scrollbar::-webkit-scrollbar{
    width: 12px;
    background-color: rgba(216, 216, 216, 0.473);
}

.scrollbar::-webkit-scrollbar-thumb{
    background-color: #5B86E1;
    height: 10px;
    border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover{
    background-color: #224ba5;
}

.message_page{
    margin-left: 25px;
    margin-bottom: -20px;
}

.message_tittle{
    font-family: Montserrat;
    color: #5B86E1;
    width: 30%;
}

.message_sentence{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 17px;
}

.new_email{
    margin-left: 70%;
    align-items: center;
}

.new_email > i{
    font-size: 30px;
    color: #5B86E1;
    
}

.new_email > h4{
    margin-left: 50px;
    font-family: Montserrat;
}

.fa-pen{
    color: #5B86E1;
    font-size: 30px;
    margin-left: 330px;
    margin-top: -40px;
}

.formulario_box{
    font-family: Montserrat;
    font-weight: 600;
    background-color: #fff;
    width: 60%;
    height: 450px;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 5px 5px 5px #3d3d3d18;
}

.formulario_box > input{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
}

.formulario_box > textarea{
    font-family: Montserrat;
    border: none;
    width: 100%;
    height: 200px;
}

.enviar{
    font-family: montserrat;
    color: #fff;
    border: none;
    background-color: #5B86E1;
    width: 80px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
}

.eliminar{
    font-family: montserrat;
    color: #fff;
    border: none;
    background-color: #e15b5b;
    width: 80px;
    height: 40px;
    border-radius: 15px;
    cursor: pointer;
}

.close_icon > i{
    font-size: 30px;
    margin-left: 98%;
    margin-top: -20px;
}

.fa-pen:hover{
    color: #224ba5;
    cursor: pointer;
}

.fa-xmark:hover{
    color: #5B86E1;
    cursor: pointer;
}