@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2D2B3;
    font-family: 'Roboto', sans-serif; 
}

.titulo {
    color:#5B3924;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
}

/* botones */
button {
height: 30px;
width: 200px;
background-color: #FF9F1C;
border-color: none;
text-align: center;
color: #5B3924;
font-size: medium;
margin-top: 10px;

}

/* Header */
header {
    width: 100%;
    height: 350px;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: right;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 30px;
    color: #5B3924;
    font-weight: 700;
}

.textos-header h2{
    font-size: 20px;
    font-weight: 500;
    color: #5B3924;
}

/* Navegador de opciones */

nav{
    text-align: center;
    font-size: medium;
    padding: 30px 20px 0 0;
}  
nav > a{
color: #5B3924;
font-weight: 400;
text-decoration: none;
margin-right: 10px;
}
nav > a:hover{
text-decoration: underline;
}

/* Galeria */

.portafolio {
    background: #e9c39c;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background-color: #FF9F1C;
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 100px;
}

.hover-galeria p{
    color: #F2D2B3;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*  our team */

.about-services{
    background: #F2D2B3;
    padding-bottom: 30px;
}

.servicio-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.otras-opciones{
    width: 28%;
    text-align: center;
}

.otras-opciones img{
    width: 80%;
}

.otras-opciones h3{
    margin: 10px 0;
}

.otras-opciones p{
    font-weight: 100;
    text-align: justify;
}

/* Comentarios */

.cards{
    display: flex;
    justify-content: space-evenly;
}

.cards .card{
    background: #5B3924;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid #F2D2B3;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: #F2D2B3;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/* recuadro final */

footer{
    background: #FF9F1C;
    padding: 20px 0 15px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #F2D2B3;
}

.content-foo{
    text-align: center;
}

.content-foo p{
    color: #5B3924;
}

.title-final{
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: #5B3924;
}
@media screen and (max-width:900px){

    /* otras opciones */

.servicio-cont{
    justify-content: center;
    flex-direction: column;
}

.otras-opciones {
    width: 80%;
    text-align: center;
}

.otras-opciones:nth-child(1), .otras-opciones:nth-child(2){
    margin-bottom: 80px;
}

.otras-opciones img{
    width: 80%;
}

@media screen and (max-width:500px){

/* Comentarios */

.cards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cards .card{
    width: 90%;
}

.cards .card:first-child{
    margin-bottom: 30px;
}
   
    nav{
        text-align: center;
        padding: 30px 0 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

 /* Comentarios */

.cards .card{
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards .card img{
    width: 90px;
    height: 90px;
}

/* Footer */

.contenedor-footer{
    flex-direction: column;
    border: none;
}

.content-foo{
    margin-bottom: 20px;
    text-align: center;
}

.content-foo h4{
    border: none;
}

.content-foo p{
    color: #ccc;
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 20px;
}

.titulo-final{
    font-size: 20px;
}
}
}