* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'open sans';
}
.title {
    color:rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}
html {
    background-color: rgb(218, 218, 218);
    font-size: 15px; 
    font-family: 'open sans';
}

/* Header */

header {
    width: 100%;
    height: 100px;
    background-color:rgb(9, 192, 183); 
    background-size: cover;
    background-attachment: fixed;
    position: relative; 
}
nav{
        text-align: right;
        padding: 30px 50px 0 0;
}  
nav > a{
        color:rgb(255, 255, 255);
        font-weight: 300;
        text-decoration: none;
        margin-right: 5px;
}
nav > a:hover{
    text-decoration: underline;
}
header .textos-header{
    display: flex;
    height: 5px;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
}

.textos-header h1{
    font-size: 30px;
    color:#fff;
}

.textos-header h2{
    font-size: 20px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 150%;
}
.text {
    background-color:rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.text > h1{
    text-align: right;
    margin-left: 1rem;
    margin-top: 2.5rem;
    font-size: 15px;
    font-weight: 700;
    color: cornflowerblue;
}